{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/array-type": ["error", { "default": "array" }],
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/prefer-as-const": "error",
    "import/extensions": "off",
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "consistent-return": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}